src/build/*
src/build
src/bin/
.vscode/*
*.o
mqtt-explorer
.qmake.stash
client/client
simulator/build
simulator/simulator
*/build/
*/libs/client
*/libs/json
*.a
*.so
client/build/*
simulator/build/*
*.d
